<div class="wrapper">

  <header>
  <span class="projectName">Assignment Angular Niclas</span>
  </header>
  <div class="wrapperBody">

    <main>
      <div class="mainDiv">
        <router-outlet></router-outlet>
      </div>

    </main>
  <nav>
    <ul>
      <li> <a routerLink="/traffic" routerLinkActive="routed"> TrafficLight </a> </li>
      <li> <a routerLink="/travel" routerLinkActive="routed"> Book Travel </a> </li>
      <li> <a routerLink="/packing" routerLinkActive="routed"> Packing List </a> </li>
    </ul>

  </nav>
  </div>

  <footer></footer>

</div>
